/**
 * Created by AshrafMorningstar
 * https://github.com/AshrafMorningstar
 */
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
